@import './var';
@import './mixins'; 

#engage, .engage_body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dd,
  dl,
  dt,
  li,
  ol,
  ul,
  form,
  fieldset,
  label,
  input,
  legend,
  button,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight:normal;
    text-transform:none;
  }
  
  .clear {
    clear: both;
    height: 0; 
    overflow: hidden;
  }
  
  .floatleft { 
    float:left;
  }
  
  .floatright {
    float:right; 
  }
  
  .hidden {
    display:none;
  }
  
  .clearfloat {
    clear:both;
  }
  
  .center {
    text-align:center;
  }
  
  .align-right {
    text-align:right;
  }
  
  .align-left {
    text-align:left;
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */
}
* html .clearfix             { zoom: 1; } /* IE6 */
