$page-width: 900px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 13px;
$main-font-color: #404040;
$link-color: #0084BD;
$background-color: #FFFFFF;
$problem: #DD4B39;
$problem-gradient: #EE5F5B;
$idea: #62C462;
$notice-gradient: #51A351;
$warning-gradient: #F89406;
$question: #49AFCD;
$praise: #FBB450;
$alert-gradient: #F89406;
$border-color: #CCCCCC;
$lighter-text-color: #545454;
$form-text-color: #808080;
$placeholder-color: #bfbfbf;

$user-data-bg: #EBF9FF;
$user-data-border: #D4F2FF;

$lines-and-shadows: #eeeeee;
$borders: #dedede;
$box-background: #F3F3F3;
$inner-box-and-button-text: #FFFFFF;

$button-gradient: #0aa1e2;
