<div id="filterWrapper"> <!-- result wrapper -->
    
    <div id="filterText">
       <ul>
        	<li style="font-size:18px; color:#999; font-weight:600; margin-bottom:4px; margin-top:13px;">Show</li>
            <li><a href="#" onclick="setFilter('');">All</a></li>
        	<li><a href="#" onclick="setFilter('video');">Videos</a></li>
            <li><a href="#" onclick="setFilter('blog');">Blog</a></li>
            <li><a href="#" onclick="setFilter('article');">Article</a></li>
            <li><a href="#" onclick="setFilter('course');">Courses</a></li>
            <li><a href="#" onclick="setFilter('game');">Game</a></li>
            <li><a href="#" onclick="setFilter('book');">Book</a></li>
        </ul>

         <ul>
            <li style="font-size:18px; color:#999; font-weight:600; margin-bottom:4px; margin-top:13px;">Sort by</li>
            <li><a href="#" onclick="setSort('relevancy');">Relevancy</a></li>
            <li><a href="#" onclick="setSort('votes');">Votes</a></li>
            <li><a href="#" onclick="setSort('newest');">Newest</a></li>
        </ul>  
    </div>
        
</div> <!-- end result wrapper -->