<div id="topLeft">
    
    	<a href="/paths" style="z-index:99;" id="pathsLink">
    		<%= image_tag "leftArrow.png", :style => 'height:40px; margin-bottom:-5px;' %>        
    		Paths 
    	</a>
        
</div>