<div class="modalPin">
	<div class="modalResourceIframe">
		 
	</div>
	<div id="modalResourceInfo">
		<div class="modalUpvotesCount">
       		
   		</div>
   		<div class="modalResourceTitle">
       	
       	</div>
    </div>
	<div class="modalResourceDescription">
    	
    </div>
</div>