<div class="modalPin">
	<div class="resourceIframe">
		 
	</div>
	<div id="resourceInfo">
		<div class="upvotesCount">
       		
   		</div>
   		<div class="resourceTitle">
       	
       	</div>
    </div>
	<div class="resourceDescription">
    	
    </div>
</div>