<div id="sliderNavigation">
	<div id="topLeft">
    	<a href="/paths" style="z-index:99;" id="pathsLink">
    		<%= image_tag "leftArrow.png",:id => "leftArrow", :style => 'height:40px; margin-bottom:-5px;' %>  
    		Paths 
    	</a>
	</div>
	
	<div id="topRight">
    	<a href="/user_profile" style="z-index:99;" id="profileLink">Profile
	    	<%= image_tag "rightArrow.png", :id => "rightArrow", :style => 'height:40px; margin-bottom:-5px;' %>   
	     </a>      
	</div>
	<div id="topTitle" >
		<a href="/" style="z-index:99;" class="active" id="homeLink">Home</a>   
	 </div>
	 <div style="clear:both;"></div>
</div> <!-- end of sliderNavigation -->