<ul class="nav">
    <li> 
       	<%= link_to path.name, edit_path_path(path.id), :method => :get %> |
    </li>
    <li>
    	<%= link_to 'Add', add_resource_to_path_path(path.id, resource.id), :method => :post %>
    </li>
</ul>
