  <div id="rightMenu">
    
    	<ul>
        	<% if user_signed_in? %>
                <li><%= link_to "Profile", url_for('user_profile')%></li>
            <% end %>
        	<li><%= link_to "Submit a Question", '#', :class=>"addQuestion" %></li>
            <li><%= link_to "Submit a Resource", '#', :class=>"addResource" %></li>
        </ul>
    
    </div>