  <div id="rightMenu">
    
    	<ul>
        	<li>Profile</li>
        	<li>Ask a question</li>
            <li><%= link_to "Submit a resource", :controller=>'resource', :action=>'create'%></li>
        </ul>
    
    </div>