  <div id="rightMenu">
    
    	<ul>
        	<li>Profile</li>
        	<li>Ask a question</li>
            <li><%= link_to "Submit a resource", url_for('new_resource')%></li>
        </ul>
    
    </div>