<div id="topRight">
    	<a href="/user_profile" style="z-index:99;" id="profileLink">
    		Profile 
    	<%= image_tag "rightArrow.png", :style => 'height:40px; margin-bottom:-5px;' %>         
</div>