  <div id="rightMenu">
    
    	<ul>
    		<% if user_signed_in? %>
        		<li><%= link_to "Profile", url_for('user_profile')%></li>
        	<% end %>
        	<li>Ask a question</li>
            <li><%= link_to "Submit a resource", url_for('new_resource')%></li>
        </ul>
    
    </div>