  <div id="rightMenu">
    
    	<ul>
        	<li>Profile</li>
        	<li><%= link_to "Submit a Question", '#', :class=>"addQuestion" %></li>
            <li><%= link_to "Submit a Resource", '#', :class=>"addResource" %></li>
        </ul>
    
    </div>