<div id="filterWrapper"> <!-- result wrapper -->
    
    <div id="filterText">
    
    	<ul>
        	<li style="font-size:18px; color:#999; font-weight:600; margin-bottom:4px;">Filter</li>
        	<li>Popular</li>
        	<li>Recent</li>
            <li>Recommended</li>
        </ul>
        
       <ul>
        	<li style="font-size:18px; color:#999; font-weight:600; margin-bottom:4px; margin-top:13px;">Show</li>
            <li>All</li>
        	<li>Videos</li>
            <li>Text</li>
            <li>Audio</li>
            <li>Online courses</li>
        </ul> 
        
    </div>
        
</div> <!-- end result wrapper -->