   <div id="mainSearchWrapper">
		<%= form_tag("/resources/search", :method => "get") do %>
			<%= text_field_tag(:q, params[:q],
			    {:id => "search_input_text", :class=>"mainSearch",
			     :placeholder => "I want to learn..."}) %>
			<%= image_submit_tag("searchIcon.png", {:class=>"mainSubmit"}) %>
		<% end %>
   </div>