<% javascript_include_tag :home %>
<%= render 'shared/filter' %>
<div class="container">
	<div id="columns">
		<%= render :partial => 'shared/pinresults', :collection => @resources, :as => 'resource' %>
	</div>
	<%= will_paginate @resources %>
</div>
