<%= render 'shared/filter' %>
<div id="columns">
<%= (render :partial => 'shared/pinresults', :collection => @resource,
:as => 'resource') || "Sorry, no results returned. Please try again!"
%>
<div style="clear:both;">
	<%= will_paginate(@resource, :class => "digg_pagination")  %>
</div>

