<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<p>
	<b>Tag list:</b>
	<%= @resource.tag_list %>
</p>

