/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-image:url('light_toast.png');

}
h1, p, a, body {
	font-family: 'Open Sans', sans-serif;
}

input{
	border-radius:2px;
}

submit{
}
#searchButton{
	input{
		height:35px;
		padding-left:10px;
		padding-right:10px;
	}
}

#tag{
	height:25px;
	font-size:18px;
	width:100%;
	border-radius:1px;
	font-weight:200;
}
#searchBar{
	margin:0;
}
#searchText{
	float:left;
	margin:0;
	font-weight:200;
}
#searchButton{
	position:relative;
	height:35px;
}

#content{
	height:1000px;
	width:inherit !important;
	
}

html, body {
           height: 100%;
       }
footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
	text-align: center;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 60px;
}
#mainContent{
	overflow:hidden;
	margin-left:4%;
}
