/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background: #a9aeb2; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #a9aeb2 0%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a9aeb2), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #a9aeb2 0%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #a9aeb2 0%,#f5f7f9 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #a9aeb2 0%,#f5f7f9 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #a9aeb2 0%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9aeb2', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}
h1, p, a, body {
	font-family: 'Open Sans', sans-serif;
}

input{
	border-radius:2px;
}

submit{
}
#tag{
	height:25px;
	font-size:18px;
	width:100%;
	border-radius:1px;
	font-weight:200;
}
#searchBar{
	margin:0;
}
#searchText{
	float:left;
	margin:0;
	font-weight:200;
}
#searchButton{
	position:relative;
	height:35px;
}

#content{
	height:1000px;
	margin-left:3%;
	
}

html, body {
           height: 100%;
       }
footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 60px;
}
#mainContent{
	overflow:hidden;
}
.sideBar{
	border-style:solid;
	border-width:1px;
	padding:10px;
	margin-left:0px !important;
	margin-top:10%;
	background: lightgray;
	-moz-box-shadow:    3px 3px 5px 6px #525252;
  -webkit-box-shadow: 3px 3px 5px 6px #525252;
  box-shadow:         3px 3px 5px 6px #525252;
}