.slide-out-div {
    padding: 20px;
    width: 250px;
	height:50%;
    background: url("header-bg.png");
    border: 1px solid gray;
	p{
		color:white !important;
	}
	h1{
		font-size:25px;
		color:white !important;
	}
}