#sliderNavigation{
	height:100px;
	width:100%;
	#topLeft{
		float:left;
		width:175px;
		a{
			font-size:46px;
			color:white;
			font-weight:200;
			opacity:.5;
		}
		a:hover{
			opacity:1;	
			-webkit-transition: all 0.4s ease-out;
			-moz-transition: all 0.4s ease-out;
			-o-transition: all 0.4s ease-out;
		}
	}

	#topRight {
		width:175px;
		float:right;
		a{
			font-size:46px;
			color:white;
			font-weight:200;
			opacity:.5;
		}
		a:hover{
			opacity:1;	
			-webkit-transition: all 0.4s ease-out;
			-moz-transition: all 0.4s ease-out;
			-o-transition: all 0.4s ease-out;
		}
	}

	#topTitle{
			margin:0 auto;
			width:175px;
		a{
			font-size:46px;
			color:white;
			font-weight:200;
			opacity:.5;
		}
		a:hover{
			opacity:1;	
			-webkit-transition: all 0.4s ease-out;
			-moz-transition: all 0.4s ease-out;
			-o-transition: all 0.4s ease-out;
		}
	} 

	.active{
		opacity:1 !important;
		font-weight:400 !important;
	}
}
