// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resource_title{
width:80%;
}
#resource_description{
width:80%;
}
#resource_link{
width:80%;
}
#resource_tag_list{
width:80%;
}