.resourceShowHolder{
	padding:25px;
	.resourceContentHolder{
		position:relative;
		top:-25px;
	}
	.resourceButtons{
		position:relative;
		z-index:52;
		opacity:0;
	}
	.resourceTitle{
		font-family: 'Open Sans', sans-serif !important;
		font-weight:800;
		width:500px;
		color:#005580 !important;
		font-size:16px;
		float:left;
		padding-left:5px;
		height:100%;

	}
	.resourceDescription{
		font-family: 'Open Sans', sans-serif !important;
		font-weight: 400;
		font-style: italic;
		z-index:0;

	}
	.resourceImage{
		border-bottom:1px so
		lid #ccc;
		z-index:0;
	}
	.upvotesCount{
		font-size:16px;
		font-family: 'Open Sans', sans-serif !important;
		font-weight:800;
		float:left;
		color:#005580 !important;
		width:25px;
		border-right: solid 1px #005580;
		z-index:0;
		height:100%;
	}
	.resourceInfo{
		padding:25px;
		height:100%;
		min-height:100%;
	}
	.descriptionHolder{
		float:left;
		width:30%;
		height:100%;
		height:500px;
	}
	.answersHolder{
		float:left;
		width:70%;
		height:100%;
		height:500px;
		background:orange;
	}

}