.rightColumnBox{
	input{
		width:90% !important;
	}
	textarea{
		width:90% !important;
	}
	.sidebarButton{
		margin-top: 15px;
		width:75% !important;
	}
	padding:10px;
	margin-left:0px !important;
	margin-top:10%;

	border:solid 1px #999;
	color:#777;
	font-size:13px;	
	
	
	box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	border-radius:3px;
	-moz-border-radius:3px;
	background-image:url('bgnoise.png');
	
}

#rightColumn{
	display:inline-block;
	float: right;
	overflow:hidden;
	margin-left:0px !important;
	margin-right:1%;
	
}

.rightColumnHeader{
	font-size:18px;
	text-align:right;
	color:#333;
	font-weight:600;
	margin-bottom:6px;
}

.rightColumnSubHeader{
	font-size:13px;
	text-align:left;
	color:#333;
	margin-bottom:5px;
	margin-top:7px;
	margin-left:13px;
	font-weight:600;
}
