*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', helvetica, arial, sans-serif;	
	font-weight:400;
	box-sizing:border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	line-height:1.38;
}

fieldset{
	border:none;
}
a, img {
    border:none;
}

body{
	position:relative;
	top:0;
	bottom:0;
	background-image:url('light_toast.png');
}

#wrapper{
	position:relative;
}


/* Header Stuff */

#header{
	position:relative;
	width: 100%;
	background:#F5F5F5;
	height: 87px;
	border-bottom:solid 5px #666;
	background-color:white;
	background-image:url('black.png');
	box-shadow: 5px 0px 5px #666;
	-moz-box-shadow: 5px 0px 5px #666;
	-webkit-box-shadow: 5px 0px 5px #666;
	z-index:99;
}

#logo{ 
	position:absolute;
	left:0px;
	top:3px;
	margin-left:20px; 
	margin-top:8px; 
}

#logoText a{
	text-decoration:none;
	display:inline; 
	color:#eee; 
	font-size:15px; 
	font-weight:700; 
	position:absolute; 
	top:8px; 
	left:85px;
}

#headerSentence{
	display:inline-block;
	float:right;
	color:#999;
	font-size:13px;
	position:absolute;
	right:28%;
	top:9px;
}

#mainSearchWrapper{
	position:relative; 
	float:left;
margin-left:85px;
	width:40%;
	margin-top:46px; 
height:36px; 
}

textarea{
	width:100%;
}
input.mainSearch{
width:100%; 
bottom:10px; 
height:36px; 
font-size:16px;
padding:0;
padding-left:8px;
}

input.mainSubmit{
	position:relative; 
	display:inline-block; 
	margin-top:-43px; 
	height:33px; 
	width:40px; 
	background:transparent; 
	border:none;
	float:right;
}

input{
	position:relative;
	height:29px;
	width:100%;
	background-color:white;
	color:#666;
	padding-left:9px;
	border-radius:2px;
	-moz-border-radius:2px;
	font-size:13px;
	/*
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(85, 170, 240, 0.0705882) 0px 0px 1px 0px;
-webkit-rtl-ordering: logical;
-webkit-transition-delay: 0s, 0s;
-webkit-transition-duration: 0.20000000298023224s, 0.20000000298023224s;
-webkit-transition-property: border, box-shadow;
-webkit-transition-timing-function: linear, linear;
-webkit-user-select: text;

*/
}

.inputPadding{
padding-bottom:50px;	
}

/* input:focus{
border:solid 2px green;	
} */

.submit{
	position:relative;
	display:inline-block;
	margin-left:13px;
	margin-top:11px;
	margin-bottom:5px;
	background-color:#ddd;
	width:50%;
	height:40px;
	color:#444;
	font-size:13px;
	font-weight:600;
	text-align:center;
	border-left: 1px solid #ccc;
	border-radius:2px;
	-moz-border-radius:2px;
	float:right;
}


#headerLeft{
	width:80%;
}

#headerRight{
	float: right;
	width: 20%;
}

.signin{
	position:absolute;
	top: 8px;
	right:20px;
	color:white;
	font-size:13px;
	text-align:right;
	font-weight:700;
}

.signin a{
display:inline;
font-weight:600;
color:#eee;
text-decoration:none;	
}

.notifications{
	position:absolute;
	top: 36px;
	right:20px;
	width: 200px;
	height:36px;
	color:#68C0F0;
	font-size:13px;
	text-align:right;
	overflow:hidden;
}

/* Sub Header */

#subHeader{
	height:28px;
	background-color:#f5f5f5;
	border-bottom:solid 1px #ccc;
	width:100%;
	display:block;
	position:relative;
	line-height:35px;
	font-size:13px;
	color:#777;
	background-image:url('bgnoise.png');
	box-shadow: 0px 0px 6px #666;
	-moz-box-shadow: 0px 0px 6px #666;
	-webkit-box-shadow: 0px 0px 6px #666;
	overflow:hidden;
}

#subHeader p{
	margin-left:22px;	
	line-height:28px;
}

.breadCrumbs{
	float:left;
}

#sort{
	position:absolute;
	right:28%;	
}

#sort a{
	text-decoration:none;
	font-weight:600;
	display:inline;
	margin:0;
	padding:0;
	line-height:28px;
}

/*
#sort p:hover, .sort p:active{
	font-weight:700;	
}
*/

.sortGreen{
	color:#1FBF39;	
}

.sortBlue{
	color:#00B7FF;
}

.sortRed{
	color:#E84918;	
}


#rightSubHeader{
	position:relative;
	/* border-left:solid 1px #ccc; */
	display:inline-block;
	width:26%;
	float:right;
	text-align:right;
	margin-right:20px;
}

#rightSubHeader a{
	display:inline;
	margin:0;
	font-weight:600;
	text-decoration:none;
	color:#555;
	line-height:25px;
}

/*
#rightSubHeader p:hover, #rightSubHeader p:active{
	font-weight:600;
}
*/


/* Main content area stuff */

/* Main content Resource results */

#contentWrapper{
	float: left;
	width: 100%;
	min-height:940px;
}

#leftColumn{
	width:72%;
	display:inline-block;
	padding-left:20px;
}

#contentHeader{
	font-size:20px;
	font-weight:600;
	margin-top:8px;
	margin-bottom:10px;
}

.resultWrapper{
	position:relative;
	display:block;
	height:96px;
	width:100%;
	padding-top:10px;
	padding-bottom:6px;
	border: solid 1px #999;
	border-radius:3px;
	-moz-border-radius:3px;
	background-color:white;
	box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	margin-top:5px;
}

/* 
.resultWrapper:hover{
background:#F8F8F8;	
}
*/

.resultWrapper:first-child{
	margin-top:11px;
}

.voteBox{
	position:absolute;
	left:12px;
	height:75px;
	width:35px;
	display:inline-block;
	line-height:75px;
	color:#666;
	font-weight:700;
	font-size:18px;
	text-align:center;
}
.postResultsOptions{
	margin-bottom:15px;
}
.resourceThumb{
	position:absolute;
	height: 75px;
	width:135px;
	left:65px;
	display:inline-block;
	overflow:hidden;
}

.resourceCentralWrapper{
	position:absolute;
	left:204px;
	top:0px;
	display:inline-block;
	padding-right:6px;
	padding-top:10px;
	overflow:hidden;
}

.resourceTitle a{
	font-size:18px;
	color:#333;
	display:block;
	margin-left:10px;
	font-weight:600;
	text-decoration:none;
	white-space:nowrap;
}
.resourceTitle{
	height:25px;
}

.resourceReputation{
	position: relative;
	top: 24px;
	font-weight:700;
}
.resourceDescription{
	font-size:13px;
	color:#777;
	margin-left:10px;
	margin-top:2px;
	display:block;
	height:30px;
	line-height:1.2;
	overflow:hidden;
}

.subInfo{
	font-size:13px;
	color:#999;
	margin-left:10px;
	margin-top:5px;
	display:block;
}

.subOptions a{
	font-size:13px;
	color:#1FBF39;
	margin-left:10px;
	margin-top:2px;
	font-weight:600;
	text-decoration:none;
}

#postResults{
	margin-top:11px;
	color:#333;
	font-size:16px;	
}

.noResults{
	margin-bottom:15px;	
}

/* End Main content resource results */

/* Main content resource Page */

.resourceItself{
	width:600px;
	height:auto;
	margin:0 auto;
	margin-top:20px;
	
}

.resourceTitleItself{
	font-size:18px;
	color:#333;
	display:inline-block;
	margin:0 auto;
	font-weight:600;
	margin-bottom:6px;
}

.resourceDescriptionItself{
	position:relative;
	font-size:13px;
	color:#666;
	display:block;
	margin:0 auto;
	margin-top:30px;
	margin-top:26px;
	width:665px;
}

.subOptionsItself a{
	position:relative;
	font-size:13px;
	color:#65B4F3;
	margin-left:10px;
	margin-top:2px;
	font-weight:600;
	text-decoration:none;
	float:right;
}

.resourceWrapperItself a{
	
}

/* End Main content resource page */



/* Right Column stuff */

#rightColumn{
	display:inline-block;
	float: right;
	width: 26%;
	overflow:hidden;
	position:absolute;
	top:113px;
	right:0;
}

.rightColumnHeader{
	font-size:18px;
	text-align:right;
	color:#333;
	font-weight:600;
	margin-bottom:6px;
}

.rightColumnSubHeader{
	display:inline-block;
	font-size:13px;
	text-align:left;
	color:#333;
	margin-bottom:5px;
	margin-top:7px;
	font-weight:600;
}

.rightColumnBox{
	position:relative;
	margin-right:20px;
	margin-top:11px;
	border:solid 1px #999;
	color:#777;
	font-size:13px;	
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:8px;
	box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	border-radius:3px;
	-moz-border-radius:3px;
	background-image:url('bgnoise.png');
}



/* Footer stuff  */

#footer{
	position:relative;
	float:left;
	width: 100%;
	text-align: center;
	padding: 4px 0;
	margin-top:100px;
	margin-bottom:20px;
	font-size:13px;
}

@media (min-width: 767px) and (max-width: 850px) {
	
	#navHome{
	padding:0;
}

#navResources{
	padding:0;
}

#navPaths{
	padding:0;
}

#navForums{
	padding:0;
}

#navHome p{
	font-size:10px;
	margin-left:2px;
}

#navResources p{
	font-size:10px;
	margin-left:-9px;
}

#navPaths p{
	font-size:10px;
	margin-left:3px;
}

#navForums p{
	font-size:10px;
	margin-left:2px;
}

}

@media (min-width: 100px) and (max-width: 766px) {
	
#headerSentence{
	display:none;	
}

#navCollection{
	top: 34px;	
	right:20px;
}

#navHome{
	padding:0;
}

#navResources{
	padding:0;
}

#navPaths{
	padding:0;
}

#navForums{
	padding:0;
}

#navHome p, #navResources p, #navPaths p, #navForums p{
	display:none;
}

#mainSearchWrapper{
	width: 56%;
}

input.mainSearch{
	width:100%;
}
	
#leftColumn{
	position:static;
	width:100%;	
	padding-right:20px;
}
	
#rightColumn{
	position:static;
	width:100%;
	padding-left: 20px;
}

.notifications{
	display:none;	
}

#rightSubHeader{
	display:none;	
}

#leftSubHeader{
	width:100%;	
}

#sort{
	position:absolute;
	right:20px;	
}


	
}

@media (min-width: 100px) and (max-width: 550px) {

#header{
	height:130px;	
}

#logoText{
	display:none;	
}

#mainSearchWrapper{
	width:110%;
	margin-top:90px;
	margin-left:20px;
}

input.mainSearch{
	width:100%; 
	position:absolute; 
	height:36px; 
	font-size:16px;
	bottom:7px;
}

input.mainSubmit{
	margin-top:-4px;
}

.resultWrapper{
	height:175px;
}

.resourceCentralWrapper{
	position:absolute;
	left:0px;
	top: 80px;
	display:block;
	width:100%;	
}

.resourceTitle a{
	font-size:15px;
}
	
}