*{
	margin:0;
	padding:0;
	font-size:12px;
	box-sizing:border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	line-height:1.5;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	
}

ul{
	text-decoration:none;	
	list-style-type:none;
}

#wrapper{
	position:relative;
	overflow:auto;
	min-width:768px;
	z-index:1;
}

/* start header */

#header{
	position:relative;
	width: 100%;
	background:#333;
	height: 45px;
	overflow:visible;
	text-align:center;
}

#logoText a{
	position:relative;
	margin:0 auto;
	text-decoration:none;
	display:inline;  
	font-size:16px;  
	color:#999;
	text-align:center;
	line-height:45px;
	font-weight:500;
}


.notifications{
	position:absolute;
	float:left;
	color:#777;
	font-size:16px;
	border-right:solid 1px #666;
	padding-right:10px;
}

.unread{
	color:#DE7332;	
}

#contentWrapper{
	position:relative;
}

#topSection{
	position:relative;
	height:230px;
	width:100%;	
	border-bottom:solid 1px black;
}

#topSection li,a{
	
		font-size:22px;	
		line-height:1.5;
		color:white;
		text-decoration:none;
		cursor:pointer;
		font-weight:300;
}

#mainSearchWrapper{
	position: relative;
	margin: 0 auto;
	height: 40px;
	width: 450px;
	margin-top: 0;
	background: url("museOn2.png") no-repeat;

}
#veilSearchWrapper{
	position:relative;
	top:5px;
}
mainSearch:focus{
	outline:none !important;
}
*:focus {
    outline: none !important;
}

input.mainSearch{
	font-family: 'Open Sans';
	width: 350px;
	height: 40px;
	font-size: 22px;
	font-weight: 300;
	padding: 0;
	padding-top: 3px;
	padding-left: 8px;
	color: white;
	background-color: transparent;
	position: relative;
	left: 10px;
	bottom: 11px;
	outline:none !important;
}

input.mainSearch:focus{

}

input.mainSubmit{
	position:relative; 
	display:inline-block; 
	margin-top:0px; 
	height:50px;  
	background:transparent; 
	border:none;
	float:right;
	right:30px;
}
.veilSubmit{
	position:relative; 
	display:inline-block; 
	margin-top:-39px; 
	height:39px;  
	background:transparent; 
	border:none;
	float:right;
	right:20px;
}
input.veilSearch{
	font-family: 'Open Sans';
	width:85%;  
	height:40px; 
	font-size:22px;
	font-weight:300;
	padding:0;
	padding-top:3px;
	padding-left:8px;
	color:#666;
	border-style:solid;
	border-width:1px;
	outline:none;
	background-color:white;
	box-shadow:inset 0px 0px 2px #666;
	-webkit-box-shadow:inset 0px 0px 2px #666;
	-moz-box-shadow:inset 0px 0px 2px #666;
}

.bottomWrapper{
	position:relative;
	height:100%;
	min-height:100%;	
	width:100%;
	max-width:100%;
}

.cancelButton{
	padding:10px;
	width: 200px;
	float:left;
	cursor:pointer;
}
.myButton{
	padding:10px !important;
	width: 200px !important;
	float:left !important;
	cursor:pointer;
}
.cancelButton:hover{
	background:#efefef;
}
.myButton:hover{
	background:#efefef;
}
.addNewResourceForm{
	position:relative;
	height:100%;
	min-height:100%;	
	width:100%;
	max-width:100%;
	background:#333;
	padding-bottom:90px;
	padding-top:25px;
	.new_resource{
		color:white !important;
		width: 400px;
		margin-left:auto;
		margin-right:auto;
		input,textarea{
			width:100%;
		}
	}
}

.addNewQuestionForm{
	position:relative;
	height:100%;
	min-height:100%;	
	width:100%;
	max-width:100%;
	background:#333;
	padding-bottom:140px;
	padding-top:25px;
	.new_resource{
		color:white !important;
		width: 400px;
		margin-left:auto;
		margin-right:auto;
		input,textarea{
			width:100%;
		}
	}
}

#filterWrapper{
	float:left;
	display: inline-block;
    position: static;
    width: 20%;
    height:100%;
	overflow:hidden;
	background:white;
	margin:0;
	
	height:100%;
}
.container{
	float:left;
	width:80%;
	border-left:solid 1px black;
}
#resultWrapper{
	display: inline-block;
    position: relative;
    width: 25%;
	overflow:hidden;
	background:#999;
	margin:0;
	float:left;
}

#filterText{
	margin: 30px 0 0 40px;
	color:#333;
	font-size:22px;
	font-weight:300;
}

#filterText li{
	a{
	font-size:17px;	
	line-height:1.2;
	text-decoration:none;
	color:darkgray;
	margin-left:15px;	
	font-family: "Open Sans";
	font-weight:300;
	}
	a:hover{
		font-size:19px;
		color:black;
	}
	
}

#resourceThumb{
	position:absolute;
    top:0;
    left:0;
	right:0;
	bottom:0;
    background:#666;
	text-align:center;
}

.thumbImg{
	display:inline-block;
	position:relative;
	margin:0 auto;
	text-align:center;
}


#hoverBox{
	background-color:#333;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	opacity:.9;
	line-height:40px;
}

#thumbs{
	margin-left:10px;
	display:inline;
	opacity:.9;
	color:white;
	font-size:18px;
	font-weight:800;
	max-width:100%;
}

#resourceTitle{
	font-size:16px;
	display:inline;	
	color:black;
}

*{
	margin:0;
	padding:0;
	font-size:12px;
	box-sizing:border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	line-height:1.5;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	
}

a, img {
    border:none;
	text-decoration:none;
}

ul{
	text-decoration:none;	
	list-style-type:none;
}

#wrapper{
	position:relative;
	overflow:auto;
	min-width:768px;
}

/* start header */

#header{
	position:absolute;
	bottom:0;
	width: 100%;
	background:transparent;
	height: 45px;
	overflow:visible;
	text-align:center;
}

.iconText{
	display:inline;
	color:white;
	text-decoration:none;
	font-size:16px;	
	padding-left:30px;
	opacity:.7;
	position:absolute;
}

.headerIcon{
	float:left;
	height:22px;
	display:inline-block;	
	opacity:.7;
	margin-top:10px;

}

.headerIcon:hover{
	opacity:1;
}
.addQuestion:hover, .addResource:hover{
	a,p,.headerIcon{
	opacity:1;	
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	}
	
}
	
#logoText {
	width:175px;
	height:35px;
	margin: 0 auto;
	a{
		text-decoration:none;
		font-size:16px;  
		color:white;
		line-height:45px;
		font-weight:500;
		opacity:.5;
	}
}

#topLeft a:hover,#topRight a:hover,#logoText a:hover, #logoText a:active{
	opacity:1;	
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}

.signin{
	bottom: 0px;
	position:absolute;
	right:20px;
}


.signin a{
	display:inline;
	color:white;
	text-decoration:none;
	font-size:16px;	
	padding-left:30px;
	opacity:.7;
}

.signin a:hover, .signin a:active{
	opacity:1;	
}

.notifications{
	position:absolute;
	float:left;
	color:white;
	font-size:16px;
	padding-right:10px;
}

#contentWrapper{
	position:relative;
}

#topSection{
	position:relative;
	height:230px;
	width:100%;	
	background-image:url(bg4.jpg);
	background-size:cover;
}

#exploreTopSection{
	position:relative;
	height:230px;
	width:100%;	
	background-image:url(bg2.jpg);
	background-size:cover;
	border-bottom:solid 1px white;
}

#profileTopSection{
	position:relative;
	height:230px;
	width:100%;	
	background-image:url(bg3.jpg);
	background-size:cover;
	border-bottom:solid 1px white;
}


input.mainSearch:focus{

}



#bottomWrapper{
	position:relative;
	height:100%;
	min-height:100%;	
	width:100%;
	max-width:100%;
}

#filterWrapper{
	float:left;
	display: inline-block;
    position: static;
    width: 20%;
	overflow:hidden;
	background:white;
	margin:0;
}

.digg_pagination {
  background: white;
  cursor: default;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  /* self-clearing method: */
 }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
