*{
	margin:0;
	padding:0;
	font-size:12px;
	box-sizing:border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	line-height:1.5;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	
}

ul{
	text-decoration:none;	
	list-style-type:none;
}

#wrapper{
	position:relative;
	overflow:auto;
	min-width:768px;
}

/* start header */

#header{
	position:relative;
	width: 100%;
	background:#333;
	height: 45px;
	overflow:visible;
	text-align:center;
}

#logoText a{
	position:relative;
	margin:0 auto;
	text-decoration:none;
	display:inline;  
	font-size:16px;  
	color:#999;
	text-align:center;
	line-height:45px;
	font-weight:500;
}

#logoText a:hover, #logoText a:active{
	color:#eee;	
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}


.notifications{
	position:absolute;
	float:left;
	color:#777;
	font-size:16px;
	border-right:solid 1px #666;
	padding-right:10px;
}

.unread{
	color:#DE7332;	
}

#contentWrapper{
	position:relative;
}

#topSection{
	position:relative;
	height:230px;
	width:100%;	
	background-color:#F90;
	border-bottom:solid 1px black;
}

#topTitle{
	position:relative;
	margin:0 auto;
	font-size:46px;
	text-align:center;
	color:white;
	padding-top:25px;
	font-weight:200;
	opacity:.6;
}

#topSection li,a{
	
		font-size:22px;	
		line-height:1.5;
		color:white;
		text-decoration:none;
		cursor:pointer;
		font-weight:300;
}
#topSection {
	li:hover,a:hover{
		text-shadow: gray 0.1em 0.1em 0.1em;
		font-size:25px;	
		line-height:1.5;
		color:white;
		text-decoration:none;
		cursor:pointer;
		background-color:none !important;

}}
#leftMenu{
	position:absolute;
	left:40px;
	top:40px;
	text-align:left;
	color:white;
}

#rightMenu{
	position:absolute;
	right:40px;
	top:40px;
	text-align:right;
	color:white;
}

#mainSearchWrapper{
	position:relative; 
	margin: 0 auto; 
	margin-top:8px;
	height:40px; 
	width:450px;
}

input.mainSearch{
	font-family: 'Open Sans';
	width:100%;  
	height:40px; 
	font-size:22px;
	font-weight:300;
	padding:0;
	padding-top:3px;
	padding-left:8px;
	color:#666;
	border-style:solid;
	border-width:1px;
	outline:none;
	background-color:white;
	box-shadow:inset 0px 0px 2px #666;
	-webkit-box-shadow:inset 0px 0px 2px #666;
	-moz-box-shadow:inset 0px 0px 2px #666;
}

input.mainSearch:focus{

}

input.mainSubmit{
	position:relative; 
	display:inline-block; 
	margin-top:-39px; 
	height:39px;  
	background:transparent; 
	border:none;
	float:right;
}
input.veilSubmit{
	position:relative; 
	display:inline-block; 
	margin-top:-39px; 
	height:39px;  
	background:transparent; 
	border:none;
	float:right;
	right:20px;
}
input.veilSearch{
	font-family: 'Open Sans';
	width:85%;  
	height:40px; 
	font-size:22px;
	font-weight:300;
	padding:0;
	padding-top:3px;
	padding-left:8px;
	color:#666;
	border-style:solid;
	border-width:1px;
	outline:none;
	background-color:white;
	box-shadow:inset 0px 0px 2px #666;
	-webkit-box-shadow:inset 0px 0px 2px #666;
	-moz-box-shadow:inset 0px 0px 2px #666;
}
/* 
input{
	position:relative;
	height:29px;
	width:100%;
	background-color:white;
	color:#666;
	padding-left:9px;
	border-radius:2px;
	-moz-border-radius:2px;
	font-size:13px;
}

.inputPadding{
	padding-bottom:50px;	
}

.submit{
	position:relative;
	display:inline-block;
	margin-left:13px;
	margin-top:11px;
	margin-bottom:5px;
	background-color:#ddd;
	width:40%;
	height:40px;
	color:#444;
	font-size:13px;
	text-align:center;
	border-left: 1px solid #ccc;
	border-radius:2px;
	-moz-border-radius:2px;
	float:right;
}

*/

#bottomWrapper{
	position:relative;
	height:100%;
	min-height:100%;	
	width:100%;
	max-width:100%;
}

#filterWrapper{
	float:left;
	display: inline-block;
    position: static;
    width: 20%;
	overflow:hidden;
	background:white;
	margin:0;
	
	height:100%;
}
#container{
	float:left;
	width:80%;
	border-left:solid 1px black;
}
#resultWrapper{
	display: inline-block;
    position: relative;
    width: 25%;
	overflow:hidden;
	background:#999;
	margin:0;
	float:left;
}

/*#dummy{
	margin-top:100%;
}*/

#filterText{
	margin: 30px 0 0 40px;
	color:#333;
	font-size:22px;
	font-weight:300;
}

#filterText li{
	a{
	font-size:17px;	
	line-height:1.2;
	text-decoration:none;
	color:darkgray;
	margin-left:15px;	
	font-family: "Open Sans";
	font-weight:300;
	}
	a:hover{
		font-size:19px;
		color:black;
	}
	
}

#resourceThumb{
	position:absolute;
    top:0;
    left:0;
	right:0;
	bottom:0;
    background:#666;
	text-align:center;
}

.thumbImg{
	display:inline-block;
	position:relative;
	margin:0 auto;
	text-align:center;
}


#hoverBox{
	background-color:#333;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	opacity:.9;
	line-height:40px;
}

#thumbs{
	margin-left:10px;
	display:inline;
	opacity:.9;
	color:white;
	font-size:18px;
	font-weight:800;
	max-width:100%;
}

#resourceTitle{
	font-size:16px;
	display:inline;	
	color:white;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.thumb {
    position: relative;
    margin: 10px;
    float: left
}
.text, .text-js {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    max-height: 200px;
    background: #999;
    background: rgba(0,0,0,0.3);
    text-align: center
}
.thumb:hover .text {
    display: block
}