*{
	margin:0;
	padding:0;
	font-family: robotoRegular, Verdana, Geneva, sans-serif;	
	font-size:13px;
	box-sizing:border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	line-height:1.5;
	color:#699671;
	color:#619E6D;
	color:#5F9367;
}
html,body{
	height:100%;
}

a, img {
    border:none;
	text-decoration:none;
	font-family:robotoMedium;
	color:#AD5642;
	color:#2A8EB5;
	color:#AF5D41;
	
	
}

#wrapper{
	position:relative;
	overflow:auto;
	min-width:768px;
	height:100%;
}

/* start header */

#header{
	position:fixed;
	top:0;
	width: 100%;
	background:#5F9367;
	background:#9EBAA1;
	height: 45px;
	border-bottom:solid 1px #999;
	box-shadow: 5px 0px 5px #666;
	-moz-box-shadow: 5px 0px 5px #666;
	-webkit-box-shadow: 5px 0px 5px #666;
	overflow:visible;
	z-index:99;
	background: url("header-bg.png");
}

#logoText a{
	position:absolute;
	text-decoration:none;
	display:inline;  
	font-size:35px;  
	color:#333;
	left:20px;
	font-family:robotoThin;
}

#fixedFooter{
	position:fixed;
	display:inline-block;
	height:50px;
	bottom:0;
	width:100%;
	opacity:.5;
	background-color:#eee;
	z-index:99;
}

#fixedFooter:hover{
}


#fullScreenButton{
	position:fixed;
	float:right;
	display:inline-block;
	bottom:8px;
	right:20px;	
	opacity:.2;
	z-index:100;
}

#fullScreenButton:hover{	
	opacity:1;
}

.signin a{
	display:inline;
	color:#333;
	text-decoration:none;
	font-family:robotoMedium;
	font-size:16px;	
}

#subHeader{
	position:fixed;
	top:45px;
	height:14px;
	background-color:#333;
	width:100%;
	display:block;
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 6px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	z-index:10;
	text-align:center;
}

#leftRank{
	color:#AF5D41;
	display:inline;
	float:left;
	z-index:20;
	margin-left:-37px;
	font-size:11px;
	text-align:right;
	color:#999;
	font-family:robotoMedium;
	margin-top:-4px;
}

#rightRank{
	color:#AF5D41;
	display:inline;
	float:right;
	margin-right:-93px;
	font-size:11px;
	text-align:left;
	color:#999;
	font-family:robotoMedium;
	margin-top:-5px;
}

#expBarWrapper{
	position:relative;
	position:block;
	width:600px;
	margin:0 auto;
	height:6px;
	border-left:solid 2px #999;
	border-right:solid 2px #999;
	margin-top:4px;
}

#expBar{
	position:absolute;
	left:0;
	background-color:#C66F58;
	width:22%;	
	height:6px;
}

#expPercent{
	color:#999;
	float:right;
	margin-right:-50px;	
	margin-top:-4px;
	font-size:11px;
}

#contentOptions{
	position:relative;
	display:block;	
	height:30px;
	margin-bottom:10px;
}

#showOnly{
	position:relative;
	display:inline;
	float:left;
	color:#666;	
	margin-top:6px;
	font-family:robotoLight, Verdana, Geneva, sans-serif;
}

#showOnly a{
	font-family:robotoLight, Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#666;
	padding:2px;
}

#sort{
	position:relative;
	display:inline;
	color:#666;
	float:right;
	text-align:right;
	margin-top:6px;
	font-family:robotoLight, Verdana, Geneva, sans-serif;
}

#sort a{
	text-decoration:none;
	display:inline;
	font-family:robotoLight, Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#666;
	padding:2px;
	}

.selected{
	background-image:url('redUnderline.png');
	background-repeat:repeat-x;
	background-position: 100% 100%;
	white-space: nowrap;
	font-family:robotoRegular !important;
	color:#5F9367 !important;
}

#contentHeader{
	position:relative;
	display:block;
	font-size:24px;
	float:left;
	padding-bottom:5px;
	margin-bottom:10px;
	margin-top:10px;
	color:#333;
	border-bottom: solid 1px #ccc;
	width:100%;
	font-family: robotoLight;
	line-height:1.3;
}

#contentSubHeader{
	display:block;
	color:#666;
	font-size:15px;
	font-family:robotoLight;
	line-height:1.38;
}

/* end header */



#contentWrapper{
position:relative;
width: 100%;
}



/* start contentColumn */

#contentColumn{
margin: 0 auto;
width:663px;
min-height:900px;
padding-top:60px;
}

#homeDash{
	width:100%;
	height:114px;
	display:block;
	background-color:white;
	margin-bottom:15px;	
	margin-top:25px;
	text-align:center;
}

#homeDash a{
	color:#5F9367;
	font-size:24px;
	font-family:robotoRegular;
	line-height:1.28;
	display:inline-block;
	border-bottom:solid 1px #ccc;
	padding-bottom:7px;
	padding-top:6px;
}

#homeDash a:hover{
	color:#AF5D41 !important;	
}

.homeDashSelected{
	color:#AF5D41 !important;	
}

#dashFarLeft{
	width:18%;
	float:left;	
	margin-top:11px;
	margin-left:30px;
}

#dashLeft{
	width:23%;
	float:left;	
	margin-top:11px;
}

#dashRight{
	width:27%;
	float:left;	
	margin-top:11px;
}

#dashFarRight{
	width:24%;
	float:left;	
	margin-top:11px;
}


.resultWrapper{
	position:relative;
	display:block;
	width:100%;
	padding-top:10px;
	padding-bottom:6px;
	margin-top:5px;
	float:left;
}

.resultHoverBox{
	display:inline-block;
	opacity:.3;
}

.resultHoverBox:hover{
	opacity:1;	
}


.voteBox{
	position:relative;
	float:left;
	height:70px;
	width:30px;
	display:block;
	text-align:center;
}


.upvotes{
	position:relative;
	font-size:30px;
	color:#333;
	font-family:robotoMedium, Verdana, Geneva, sans-serif;
	line-height:1;
	display:inline;
	margin-right:-4px;
}

/*
#footerVoteBox{
	position:fixed;
	bottom:3px;
	left:20px;
	width:100px;
	display:inline-block;
	z-index:999;
	opacity:.3;
	z-index:101;
}

#footerUpvotes{
	position:fixed;
	bottom:6px;
	font-size:30px;
	color:#333;
	font-family:robotoMedium, Verdana, Geneva, sans-serif;
	line-height:1;
	display:inline;
	left:55px;
	z-index:101;
}

.footerArrows{
	margin-right:-35px;
	margin-bottom:-3px;
	z-index:101;
}

.footerVoteBox:hover{
	opacity:1;	
}

.footerResourceTitle{
	position:fixed;
	bottom:7px;
	left:55px;
	font-size:20px;
	margin-left:52px;
	color:#333;
	display:block;
	text-decoration:none;
	padding-bottom:2px;
	line-height:1.2;
	border-left:solid 1px #ccc;
	padding-left:10px;
	font-family:robotoRegular, Verdana, Geneva, sans-serif;
	opacity:.3;
	z-index:101;
}

.footerResourceTitle a:hover{
	opacity:1;	
}

.footerSubOptions{
	position:fixed;
	display:inline;
	bottom:7px;
	right: 60px;
	line-height:1.3;
	z-index:101;	
}

.footerSubOptions a{
	font-family: robotoLight;
	font-size:20px;
	color:#333;
	margin-right:8px;
	opacity:.3;
}

.footerSubOptions a:hover{
	opacity:1;	
}
*/

.resourceThumb{
	position:absolute;
	height: 70px;
	width:131px;
	left:0px;
	margin-left:-150px;
	display:inline-block;
	border: solid 2px #9ebaa1;
	overflow:hidden;
}

.resourceThumb a{
		color:#ddd;	
		margin-left:5px;
		font-size:15px;
}

.resourceCentralWrapper{
	position:relative;
	display:inline-block;
	padding-right:6px;
	padding-left:10px;
	margin-top:10px;
	border-left: solid 1px #ccc;
}

.resourceTitle a{
	font-size:20px;
	margin-left:52px;
	color:#333;
	display:block;
	text-decoration:none;
	padding-bottom:2px;
	line-height:1.2;
	border-left:solid 1px #ccc;
	padding-left:10px;
	font-family:robotoRegular, Verdana, Geneva, sans-serif;
}

.resourceDescription{
	font-size:13px;
	color:#666;
	padding-top:2px;
	margin-left:52px;
	padding-left:10px;
	display:block;
	line-height:1.38;
	overflow:hidden;
	padding-bottom:2px;
	border-left:solid 1px #ccc;
	font-family:robotoLight;
}

.resourceTags{
	font-size:13px;
	color:#666;
	padding-top:2px;
	width:100%;
	margin-left:52px;
	padding-left:10px;
	display:block;
	line-height:1.38;
	border-left:solid 1px #ccc;
}

.resourceTags a{
	font-size:13px;
	font-family:robotoMedium;
	text-transform:lowercase;
}

.subInfo{
	display:inline;	
	font-size:13px;
	margin-left:5px;
	font-family:robotoLight;
	text-transform:lowercase;
}

.subOptions{

}

.subOptions a{
	font-size:13px;
	color:#5F9367;
	margin-top:2px;
	text-decoration:none;
}

.postedBy{
	position:relative;
	float:left;
	font-size:13px;	
	color:#999;
	z-index:0;
	font-family:robotoLight;
	margin-left:22px;
	padding-left:10px;
	padding-top:2px;
	border-left:solid 1px #ccc;
}

.userName a{
	display:inline;
	color:#5F9367;
}


/* end contentColumn */



/* both side columns stuff */

.columnHeader{
	font-size:20px;
	color:#333;
	margin-bottom:6px;
}

.columnText{
	display:inline-block;
	font-size:13px;
	color:#777;
	margin-bottom:20px;
	list-style-type:none;
}

.columnItem{
	display:inline;
font-size:14px;
color:#333;	
	font-family: 'Arvo', serif;
		font-weight:400;
	letter-spacing:.06em;
}

/* end both side column stuff */



/* start leftColumn */

#leftColumn{
float: left;
padding:20px;
padding-top:103px;
}

/* end leftColumn */



/* start rightColumn */

#rightColumn{
float: right;
text-align:right;
padding:20px;
padding-top:103px;
}


.timeAgo{
display:inline;
font-size:13px;
color:#999;
margin-left:4px;	
font-family:robotoLight;
text-transform:lowercase;
}

li{
margin-bottom:3px;	
}

.columnBox{
	position:relative;
	/* border:solid 1px #999; */
	color:#777;
	font-size:13px;	
	padding-left:15px;
	padding-right:15px;
	padding-bottom:8px;
	box-shadow: 1px 5px 6px #666;
	-moz-box-shadow: 1px 5px 6px #666;
	-webkit-box-shadow: 1px 5px 6px #666;
}

.columnFullImg{
	position:relative;
	width:100%;
	height:auto;
	margin-bottom:20px;
}


/* end rightColumn */



/* footer  */

#footer{
	position:relative;
	float:left;
	width: 100%;
	text-align: center;
	padding: 4px 0;
	margin-top:100px;
	margin-bottom:60px;
	font-size:13px;
	padding: 0 20px;
}

/* end footer */



/* media queries */

@media (min-width: 200px) and (max-width:1100px) {

#mainSearchWrapper{
	width:250px;	
}	
	
}

@media (min-width: 200px) and (max-width:900px) {
	
#contentColumn{
	margin-left:105px;
	margin-right:20px;	
}

#mainSearchWrapper{
	width:200px;	
}

#expBarWrapper{
	width:600px;
	margin-left:105px;
	margin-right:20px;
}
	
}



/* end media queries */