/* @group core */
#container{
	h1,h2,h3,a,li,ul{
		color:black !important;
	}
}
#left{
	width:70%;
	float:left;
	padding:20px;
}
#right{
	width:30%;
	float:left;
	padding:20px;
}
#userInfo{
	background:#e2e2e2;
	padding:20px;
	height:100%;
	overflow:auto;
	h1,h2,h3,a{
		color:#434343 !important;
		display: block; 
		font-size: 3.4em; 
		line-height: 1.1em; 
		font-weight: bold; 
	}
	#userInfoLeft{
		float:left;
		height:100%;
		width:30%;
		h1,h2,h3,a{
			color:#434343 !important;
			display: block; 
			font-size: 3.4em; 
			line-height: 1.1em; 
			font-weight: bold; 
		}
	}
	#userInfoRight{
		float:left;
		padding-left: 25px;
		height:100%;
		width:70%;
	}
	#userDescription{
		height:100%;
		float:left;
	}
}
#userResources{
	margin-top: 15px;
	h1,h2,h3,a{
			color:#434343 !important;
			display: block; 
			font-size: 3.4em; 
			line-height: 1.1em; 
			font-weight: bold; 
		}
}

#userStats ul.numbers { list-style: none; width: 320px; padding-top: 7px; margin-top: 0; color: #000;height:70px; }
#userStats ul.numbers li { width: 95px; float: left; display: block; padding-left: 8px; height: 50px;  text-transform: uppercase; }
#userStats ul.numbers li strong {left: -10px;
	text-align:center;
position: relative; color: #434343; display: block; font-size: 3.4em; line-height: 1.1em; font-weight: bold; }

/* @group right */
#right .gcontent { display: block; margin-bottom: 20px; }
#right .gcontent .head { background: #589fc6; border: 1px solid #3e82a7; padding-left: 8px; }
#right .gcontent .head h1 { color: #fafcfd; font-weight: bold; font-size: 1.4em; }

#right .gcontent .boxy { border-radius: 0px 0px 5px 5px; border: 1px solid #ccc; border-top: 0px; padding: 10px 8px; background: #f9f9f9; }

#right .gcontent .boxy .badgeCount { margin-bottom: 30px;  }
#right .gcontent .boxy .badgeCount a img { margin-right: 8px; }
#right .gcontent .boxy span { font-size: 1.2em; display: block; margin-bottom: 7px; }

#right .gcontent .boxy .tempfriendslist { display: block; margin-bottom: 15px; }
#right .gcontent .boxy .tempfriend { border-top: 1px solid #ccc; float: left; height: 50px; padding: 5px 5px 5px 4px; width: 100px;}
#right .gcontent .boxy .tempfriend .cusimg { border: 1px solid #ccc; float: left; padding: 1px; background: #fff; margin-right: 4px; }
#right .gcontent .boxy .tempfriend .friendly {float: right; position: relative; top: -35px;
left: 3px; font-size: 1em; color:black;}
